@charset "utf-8";
.text-center.py-5 .container .container {
    margin-top: 6px;
    font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold";
    font-weight: bolder;
    position: absolute;
}
.text-center.py-5 .container .container {
    font-weight: bolder;
    margin-bottom: -69px;
    font-size: 40px;
    letter-spacing: 40px;
    text-align: center;
    padding-bottom: 0px;
}
