@charset "utf-8";
.row .col-12 .mb-lg-2.font-weight-bold.display-4 {
    text-align: center;
    font-style: normal;
    font-size: 37px;
    font-weight: 400;
    font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold";
    margin-top: 279px;
    color: #D7C6FF;
    position: absolute;
    margin-left: 16px;
}
