@charset "utf-8";
.navbar.navbar-expand-lg.navbar-dark.bg-dark .container .navbar-brand {
    font-family: Arial, "Arial Black", "Arial Narrow", "Arial Rounded MT Bold";
    font-style: italic;
    font-weight: bold;
}
